*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* dashborad icon and data  */
.admin-page{
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "dash pro pro pro"
                         "dash main main anno"
                         "dash main main anno"
                         "dash main main trend";
    background-color: black;
    height: 100vh;
}
.dashb{
    grid-area: dash;
    background-color: #1992d4;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu i{
    font-size: 3rem;
    color: white;
    margin: 20px 30px;

}
.menu h1{
    color: white;
    font-size: 1.8rem;
    
}
/* tables */
.table{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    
}
.hoom{
    text-align: center;
}
td{
    width: 7.6vw;
    height: 9.2vh;
    
}
td:hover{
    cursor: pointer;
}

.profile-nav{
    grid-area: pro;
    background-color: #ffffff;
}
.top-pro{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    height: 4vh;
    margin-top: 15px;
}
.top-pro i{
    align-self: center;
    width: 6vw;
    padding-left: 50px;
}
.top-pro input{
    border: none;
    background-color:#e2e8f0 ;
    width: 52vw;
    border-radius: 25px;
}
.top-pro .bxs-bell-ring{
    align-self: center;
}
.top-pro img{
    border-radius: 70%;
    align-self: center;
    
}
.top-pro p{
    align-self: center;
    font-weight: 700;
    padding-left: 12px;
}

.buttom-pro{
    margin-top: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.buttom-pro img{
    border-radius: 70%;
    margin: 15px 10px 15px 35px;

}
.names p{
    font-weight: 600;
}
.profile-btn{
    display: flex;
    background-color: #ffffff;
    justify-content: end;
    align-items: center;
    width: 63%;
    gap: 15px;
    

}

.profile-btn button{
    
    background-color: #1992d4;
    border: none;
    width: 5vw;
    height: 5vh;
    font-size: 0.8rem;
    font-weight: 500;
    color: #ffffff;
    align-self: center;
    border-radius: 25px;
    
}
.profile-btn button:hover{
    background-color: #0f85c4;
    cursor: pointer;
}

.project-panel{
    grid-area: main;
    background-color: rgb(24, 23, 23);
}
.annotab{
    grid-area: anno;
    background-color: azure;
}
.tranding{
    grid-area: trend;
    background-color: blueviolet;
}